#hamburger.open::before {
  transform: rotate(45deg) translate(5px, 5px);
}
#hamburger.open::after {
  transform: rotate(-45deg) translate(5px, -5px);
}
#hamburger::before,
#hamburger::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
  margin: 6px 0;
  transition: transform 0.3s;
}

/* CUSTOM ANIMATION */